<% include ../partials/header.ejs%>
<body>
	<div class='container text-center'>
		<div class='login'>
		<h2>Login</h2>
    	<p><%=message%></p>
    	<form action="/auth/login" method="POST">
        	Username: <input type="text" name="username"/><br/>
        	Password: <input type="password" name='password'/><br/>
        	<button type='submit'>Login</button>
    	</form>
        <form action='/auth/register' method='GET'><button>Create New Account</button></form>
    	</div>
    </div>
</body>
</html>