<% include ../partials/header.ejs%>
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<body>
<% include ../partials/navbar.ejs%>


	<div class='container text-center'>
		<div>
		<h2>Edit Journal:</h2>
        <h4>Journal for <%=user.displayName%></h4>
    	<form method="POST" action="/journals/<%=journal._id%>?_method=PUT">
            Journal Name: <input type="text" name='journalName' value="<%=journal.journalName%>"/><br/>
            <br/>
        	<input type='submit' value="Edit Journal">
    	</form>
        <br/>
    	<form action="/journals/<%=journal._id%>?_method=DELETE" method='POST'><input type="submit" name="DELETE" value="Delete Journal"></form>
    	</div>
    </div>

</body>
</html>