<% include ../partials/header.ejs%>
<body>
<% include ../partials/navbar.ejs%>


	<div class='container text-center'>
		<div>
		<h2>Edit Journal:</h2>
        <h4>Journal for <%=user.displayName%></h4>
    	<form action="/journals/edit" method="POST">
            Journal Name: <input type="text" name='journalName' value="<%=journal.name%>"/><br/>
        	<button type='submit'>Edit Journal</button>
    	</form>

    	<form action="/<%=journal._id%>?_method=DELETE" method='POST'><input type="submit" name="DELETE" value="Delete Journal"></form>
    	</div>
    </div>

</body>
</html>