<% include ../partials/header.ejs%>
<body>
<% include ../partials/navbar.ejs%>
	<div class='container text-center'>
		<div>
		  <h2>Your Journals:</h2>
            <ul>
                <%for(let i = 0; i < journals.length; i++){ %>
                <li>
                    <a href='/journals/<%=journals[i]._id%>/edit'><%=journals[i].journalName%></a>
                </li>
                <% } %>
            </ul>
    	</div>
    </div>
</body>
</html>