<% include ../partials/header.ejs%>
<body>
<% include ../partials/navbar.ejs%>
	<div class='container text-center'>
		<div>
		<h2>Create New Journal:</h2>
        <h4>Journal for <%=user.displayName%></h4>
    	<form action="/journals" method="POST">
            <input type="hidden" name='user' value="<%=user._id%>"/>
            Journal Name: <input type="text" name='journalName'/><br/>
        	<button type='submit'>Create Journal</button>
    	</form>
    	</div>
    </div>
</body>
</html>