<% include ./partials/header.ejs%>
<body>
<% include ./partials/navbar.ejs%>
	<h1>Welcome to Moment Escape</h1>
	<p>A photo journal that allows users to record memories along with photos that were taken. Allowing for more than just a thousand words to define a moment that allowed us to escape the reality we encounter all around us and step into a place without time.</p>
</body>
</html>