body {
	background-color: skyblue;
	font-family: 'Raleway', sans-serif;
}

.login {
	border-left: 6px solid blue;
  	background-color: lightgrey;
}

.login input {
	margin: 15px 10px 15px 10px;
}

.login button {
	margin: 15px;
}

ul {
	font-size: 20px;
}

img {
	height: 100px;
	width: 150px;
}