<% include ../partials/header.ejs%>
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<body>
<% include ../partials/navbar.ejs%>


	<div class='container text-center'>
		<div>
		<h2>Create New Entry:</h2>
        <h4>Entries for <%=user.displayName%></h4>
    	<form action="/entries" method="POST" class="form">
            Journal Name: 
            <select name='journalName'>
                <% for(let i = 0; i < journals.length; i++){ %>
                    <option value="<%=journals[i]._id%>"><%=journals[i].journalName%></option>
                <% } %>
            </select>
            Journal Date:<input type="date" name="journalDate">
            Title:<input type="text" name="title">
            Keywords:<input type="text" name="keywords">
            Journal Entry:<input type="textbox" name="journalEntry">

            
        	<button type='submit'>Create Entry</button>
    	</form>

    	</div>
    </div>

</body>
</html>