<% include ../partials/header.ejs%>
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<body>
<% include ../partials/navbar.ejs%>

	<div class='container text-center'>
		<div>
		<h2><%=entry.title%><h2>
			<p>Journal Date: <%=entry.journalDate%></p>
			<p><%=entry.journalEntry%></p>

    	</div>
    </div>

</body>
</html>